*{
	padding: 0;
	margin: 0;
}

body{
	font-family: Roboto, sans-serif;
	background: #f3f5f7;
	width: 100%;
}

header{
	height: 35px;
	min-width: 1300px;
}

header nav{
	background-color: #a8cf45;
    color: #ffffff;
    height: 35px;
}

header ul{
	list-style: none;
	display: flex;
	padding-left: 150px;
	float: left;
}

header nav ul li{
	line-height: 35px;
	padding-left: 20px;
	position: relative;
}


header nav ul li a{
	border-right: 1px solid white;
	padding-right: 20px;
	color: #ffffff;
	text-decoration: none;
	font-size: 14px;
}

header nav ul li a.active{
	color: #ed3237;
}

header nav ul li a:hover{
	color: #e10c00;
	transition: 0.3s;
}

header nav ul li #menu_small{
	display: none;
	position: absolute;
}

header nav ul li:hover>#menu_small{
	display: block;
}


header nav ul li #menu_small>li{
	width: 104%;
	right: 170px;
	margin-bottom: 1px;
	background: #a8cf45;
	text-align: center;
}

header nav ul li #menu_small>li>a{
	border: none;
}

header nav .login_register{
	float: right;
	margin-right: 100px;
}

#header-content{
	border: 1px solid #e3e3e3;
	border-radius: 5px;
	background: white;
	padding-bottom: 40px;
	width: 1300px;
	margin: 30px auto;
}

#header-content #logo{
	float: left;
	padding: 20px 100px 0px 240px;
}

#header-content #tim_sp{
	padding: 25px 0px 0px 20px;
}

#header-content form input{
	border:1px solid #a8cf45;
	border-radius: 2px;
	width: 250px;
	height: 30px;
	padding-left: 20px;
	position: relative;
}


#header-content form #search{
	width: 90px;
	height: 33px;
	position: absolute;
	border-radius: 2px;
	background: #F89999;
	border:1px solid #a8cf45;
	cursor: pointer;
	color: white;
}

#header-content form #search:hover{
	background: #E88989;
	transition: 0.3s;
}

#content_surround{
	width: 1300px;
	margin: 0 auto;
}


#content{
	clear: both;
	width: 60%;
	background: white;
	padding: 20px;
	float: left;
}

#content h1{
	background-color: #ffffff;
    color: #ed3237;
    font-size: 25px;
    padding-bottom: 5px;
}

#content #product-box{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#content #product-box a{
	text-decoration: none;
	color: #333333;
	font-weight: normal;
}

#content #product-box a:hover{
	color: #4FA7DE;
	transition: 0.2s;
}

#content .product-item img{
	width: 180px;
	height: 220px;
	padding-bottom: 10px;
}

#content .product-item img:hover{
	width: 190px;
	transition: 0.3s;
	opacity: 0.8;
}

#content .product-item{
	text-align: center;
	position: relative;
	overflow: hidden;
	width: 220px;
	margin: 10px;
	border: 1px solid #e3e3e3;
	height: 330px;
}


#content .product-item .name{
	font-family: Roboto, sans-serif;
	font-size: 13px;
	padding-bottom: 10px;
}

#content .product-item .price{
	color: #e10c00;
	font-weight: bold;
	font-size: 13px;
}

#content .product-item .sale{
	background-color: #ed3237;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    line-height: 31px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    transform: rotate(-45deg);
    transition: all 0.5s linear 0s;
    width: 137px;
    right: 130px;
    top:20px;
}

#content .product-item button{
	width: 70px;
	height: 30px;
	margin-top: 10px;
	background: white;
	border: 1px solid #a8cf45;
	font-size: 13px;
}

#content .product-item button:hover{
	background-color: #ed3237;
	cursor: pointer;
	transition: 0.2s;
}

aside #nav{
	float: right;
	width: 25%;
	background: white;
	font-size: 14px;
	font-weight: normal;
}

aside #nav #header{
	padding: 20px;
	height: 20px;
	border-bottom: 1px solid #e3e3e3;
}

aside #nav #header h1{
	float: left;
	font-weight: normal;
	font-family: "Courier New", Courier, monospace;
	line-height: 20px;
}

aside #nav #header img{
	width: 25px;
	height: 25px;
	float: right;
	padding-right: 10px;
}

aside #nav #header img:hover{
	height: 28px;
}

aside #nav #main{
	padding: 20px;
}

aside #nav #main h1{
	font-family: 'face', Arial, Helvetica, sans-serif;
    color: #066c49;
    font-size: 20px;
    border-bottom: 1px solid #dbdbdb;
    text-align: center;
    padding-bottom: 10px;
}

aside #nav #main img{
	width: 80px;
	height: 50px;
	padding-right: 14px;
	float: left;
}

aside #nav #main li{
	list-style: none;
	padding: 10px;
}

aside #nav #main li h4{
	font-size: 13px;
    font-family: 'robo', Arial, Helvetica, sans-serif;
    height: 36px;
    overflow: hidden;
    padding-bottom: 10px;
    color: #676767;
}
aside #nav #main li a{
	text-decoration: none;
}

aside #nav #main li h4:hover{
	color: #e10c00;
}

aside #nav #main li span{
	color: #C6C0C0;
}

footer{
	clear: both;
	border: 1px solid black;
	min-width: 1300px;
}

footer #footer-content{
	display: flex;
}

footer #footer-content li{
	list-style: none;
	padding: 30px 50px;
	margin: 0 auto;
}

footer #footer-content li h2{
	font-size: 15px;
	border-bottom: 1px solid #B5AEAE;
	color: #066c49;
	padding-bottom: 5px;
}

footer #footer-content li p{
	font-size: 12px;
	padding-top: 10px;
}

footer #footer-content li a{
	color: blue;
	text-decoration: none;
}

footer #footer-content li a:hover{
	color: #e10c00;
}

footer #footer-bottom{
	height: 40px;
	background-color: #ed3237;
	text-align: center;
	line-height: 40px;
	color: #F2EEEE;
	font-size: 14px;
}

#form_register{
	width: 500px;
	margin: 47px auto;
	border: 1px solid #a8cf45;
	background: #fff;
	padding: 40px;
}

#form_register h2{
	text-align: center;
	padding-bottom: 20px;
	color: red;
}

#form_register .clearfix button{
	width: 100px;
	height: 30px;
	background: #578EBE;
	border: 1px solid #578EBE;
	color: white;
}

#form_register .clearfix button:hover{
	line-height: 31px;
	cursor: pointer;
}

#form_register label{
	width: 180px;
	text-align: right;
	float: left;
	margin-right: 20px;
}

#form_register input{
	margin-bottom: 10px;
	height: 25px;
}

#form_login h2{
	text-align: center;
	padding-bottom: 20px;
	color: red;
}

#form_login{
	width: 500px;
	margin: 67px auto;
	border: 1px solid #a8cf45;
	background: #fff;
	padding: 40px;
}

#form_login .clearfix button{
	width: 100px;
	height: 30px;
	background: #578EBE;
	border: 1px solid #578EBE;
	color: white;
}

#form_login .clearfix button:hover{
	line-height: 31px;
	cursor: pointer;
}

#form_login label{
	width: 180px;
	text-align: right;
	float: left;
	margin-right: 20px;
}

#form_login input{
	margin-bottom: 10px;
	height: 25px;
}

#info_main{
	width: 800px;
	background: #fff;
	padding: 30px;
	margin: 20px auto;
}

#info_main h1{
	font-size: 15px;
	border-bottom: 2px solid #e3e3e3;
	padding-bottom: 10px;
}

#info_main #account_detail{
	padding-top: 20px;
	width: 100%;
	padding-bottom:35px;
}

#info_main #account_detail td{
	padding-bottom: 20px;
	font-size: 13px;
	color: #333;
}

#thongtin_sp{
	width: 1000px;
	margin: 20px auto;
	background: #fff;
	height: 350px;
}

#thongtin_sp #img_show img{
	width: 25%;
	float: left;
	padding: 20px;
}

#thongtin_sp #form_sp{
	width: 60%;
	float: right;
	padding: 20px;
}

#thongtin_sp #form_sp #ten_sp h2{
	padding-bottom: 10px;
}


#thongtin_sp #form_sp #ten_sp a{
	font-size: 27px;
	color: #333;
	text-decoration: none;
	font-weight: normal;
}

#thongtin_sp #form_sp #ten_sp #gia{
	font-size: 16px;
	color: #f94000;
}

#thongtin_sp #form_sp #khuyen_mai{
	border: 1px solid #e3e3e3;
	margin-top: 20px;
	width: 400px;
}

#thongtin_sp #form_sp #khuyen_mai h1{
	font-size: 15px;
	height: 30px;
	padding-left: 10px;
	margin-bottom: 10px;
	line-height: 30px;
	background: #e3e3e3;
}

#thongtin_sp #form_sp #khuyen_mai p{
	padding-left: 10px;
	padding-bottom: 10px;
}

#thongtin_sp #form_sp #mua button{
	margin-top: 10px;
	height: 40px;
	background: #e3e3e3;
	background: #ff9d14;
	cursor: pointer;
	border: none;
	width: 400px;
	color: #fff;
}

#thongtin_sp #form_sp #mua button:hover{
	color: red;
}

