.paddingb10{
    padding-bottom: 10%;
}
.width40{
    width: 40%;
}
.floatL{
    float: left;
}
.floatR{
    float: right;
}
.container-fluid {
	width: 75% !important;
	margin: auto 0;
}
.marginR4{
    margin-right: 4%;
}
.marginL4{
    margin-left: 4%;
}
/*---------------Khuyen mai-------------------*/
.khuyenmai{
    background: #e3e3e3;
    text-align: center;
}

/*---------------mua-------------------*/
.mua{
    margin-top: 10px;
	height: 40px;
	cursor: pointer;
	border: none;
    color: #fff;
}

/*-----------------gio hang-----------------------*/
.thongtin{
    width: 50%;
	margin: 30px 0 20px 50px;
	background: #fff;
}
.headerCart{
  text-align: center;
}.footerTC{
   text-align: right;
}

/*-----------------dang ky-----------------------*/
#dang_ky_tai_khoan{
    width: 70%;
    margin: 30px 0 30px 50px;
    border: 1px solid #a8cf45;
    background: #fff;
    padding: 20px;
}

#dang_ky_tai_khoan label {
    width: 130px;
    text-align: left;
    float: left;
    font-size: 14px;
    margin-right: 20px;
    line-height: 30px;
}

.form-group {
    margin-bottom: 30px;
}
/*------------------login/registration--------------------------*/
.login_register{

}
ul.ul_giohang {
    margin-left: 618px;
}